#projects h2 {
  padding-top: 4rem;
  z-index: 2;
  position: relative;
}
#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);
  border:solid 1px var(--primary-bg);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  align-self: end;
  opacity: 0;
  cursor: pointer;
}

.project-column:nth-child(0) .project {
  transform: translateX(-4rem);
}
.project-column:nth-child(1) .project {
  transform: translateX(4rem);
}


.project img {
  width: 20rem;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.see-more {
  color: var(--primary-text);
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(-2rem);
  opacity: 0;
}

.see-more svg{
  margin-left: 0.5rem;
}

.project-label {
  color: var(--primary-text);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.project-label span {
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
}

.project:hover {
  filter: grayscale(0%);
}
.project:hover .project-label {
  background-color: rgba(0, 0, 0, 0.2);
}
.project:hover .project-label span {
  background-color: var(--primary-text);
  color: var(--primary-bg);
  transform: translateY(-1rem);
}
.project:hover img {
  transform: scale(1.1);
}

.project:hover .see-more {
  transform: translateX(0);
  opacity: 1;
  color: var(--primary-text)
}

.project-column{
  display: flex;
  flex-direction: column;
}

#projects.in-view .project-column:nth-child(1) .project:nth-child(1) {
  animation: project-item-left 0.7s 0s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(1) .project:nth-child(2) {
  animation: project-item-left 0.7s 0.3s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(1) .project:nth-child(3) {
  animation: project-item-left 0.7s 0.6s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(1) .project:nth-child(4) {
  animation: project-item-left 0.7s 0.9s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(1) .project:last-child {
  animation: project-item-left 0.7s 1.2s ease-in-out forwards;
}

#projects.in-view .project-column:nth-child(2) .project:nth-child(1) {
  animation: project-item-right 0.7s 0.15s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(2) .project:nth-child(2) {
  animation: project-item-right 0.7s 0.45s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(2) .project:nth-child(3) {
  animation: project-item-right 0.7s 0.75s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(2) .project:nth-child(4) {
  animation: project-item-right 0.7s 1.05s ease-in-out forwards;
}
#projects.in-view .project-column:nth-child(2) .project:last-child {
  animation: project-item-right 0.7s 1.35s ease-in-out forwards;
}


@keyframes project-item-left {
  0% {
    transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes project-item-right {
  0% {
    transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ===== RESPONSIVE ====== */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .project img {
    width: 25rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project img {
    width: 30rem;
  }
}
