#skills-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-item {
  transform: translateX(-2rem);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.skill-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.skill-image {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}

#skills {
  padding: unset;
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

#skills .section-content {
  width: 100%;
  padding: 5rem 1rem;
  padding-top: 4rem;
}

#skills.in-view .skill-item:nth-child(1) {
  animation: skill-item 0.7s 0s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(2) {
  animation: skill-item 0.7s 0.2s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(3) {
  animation: skill-item 0.7s 0.4s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(4) {
  animation: skill-item 0.7s 0.6s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(5) {
  animation: skill-item 0.7s 0.8s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(6) {
  animation: skill-item 0.7s 1s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(7) {
  animation: skill-item 0.7s 1.2s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(8) {
  animation: skill-item 0.7s 1.4s ease-in-out forwards;
}
#skills.in-view .skill-item:nth-child(9) {
  animation: skill-item 0.7s 1.6s ease-in-out forwards;
}

@keyframes skill-item {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ===== RESPONSIVE ====== */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #skills .section-content {
    padding: 8rem 2rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #skills .section-content {
    padding: 8rem 3rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #skills .section-content {
    padding: 8rem 5rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #skills .section-content {
    padding: 8rem 8rem;
  }
}