@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;800&display=swap");

:root {
  --primary-bg: #2f1c30;
  --primary-text: white;
  --secondary-text: #b43f5a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* HEADER */
header{
  position: sticky;
  top: 0;
  padding: 1.5rem 4rem;
  z-index: 100;
  transition: all 0.5s;
}

header.scrolled {
  background-color: var(--primary-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header nav ul{
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary-text);
  transition: all 0.3s;
  transform: scaleX(0);
}

header nav ul li:hover:after{
  transform: scaleX(0.6);
}
/* END HEADER */

/* PARALLAX */
#parallax-container {
  overflow: hidden;
  margin-top: -5rem;
  height: 120vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-image {
  height: 120vh;
  position: absolute;
}

#parallax-name {
  height: 110vh;
  top:0;
  font-size: 5rem;
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:2;
  word-break: break-all;
}

#parallax-name .name {
  font-weight: 800;
  opacity: 0;
  transform: translateY(-2rem);
  animation: name 4s 1s forwards;
  /* background: rgb(187,39,75);
  background: linear-gradient(171deg, rgba(187,39,75,1) 0%, rgba(97,54,82,1) 100%); */
  /* background: rgb(255,128,85);
  background: linear-gradient(171deg, rgba(97,54,82,1) 0%,rgba(255,128,85,1) 100%); */
  background: rgb(97,54,82);
  background: linear-gradient(171deg, rgba(97,54,82,1) 0%, rgba(199,53,89,1) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#parallax-name hr {
  margin: 1rem 0;
  border: 1px solid var(--secondary-text);
  opacity: 0;
  animation: hr 2s 2.5s forwards;
}

#parallax-name .job-title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  opacity: 0;
  animation: jobtitle 2s 2s forwards;
}
@keyframes jobtitle {
  0% {
    opacity: 0;
    letter-spacing: normal;
  }
  100% {
    opacity: 1;
    letter-spacing: 1rem;
  }
}

@keyframes name {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hr {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 30%;
  }
}
/* END PARALLAX */

#content {
  background-color: var(--primary-bg);
  position: relative;
  z-index: 10;
}
